#vboxCalc {
    -fx-background-color: #1f1f1f;
    -fx-opacity: 1;
}

.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #a17f23;
    -fx-opacity: 1;
}

.button {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 14pt;
}

.button:hover {
    -fx-background-color: #afc1c7;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: grey;
    -fx-text-fill: #5018a3;
}

.list-view .list-cell:even {
    -fx-background-color: #4f4e4e;
    -fx-text-fill: black;
    -fx-font-size: 10pt;
        -fx-font-family: "Segoe UI Semibold";
}
.list-view .list-cell:odd {
    -fx-background-color: #4f4e4e;
    -fx-text-fill: black;
    -fx-font-size: 10pt;
        -fx-font-family: "Segoe UI Semibold";
}